/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-227 {
      /* Centers button */
      text-align: center;
      /* changes on tablet */
      padding: 0 1rem;
      position: relative;
      z-index: 1;
      /* prevents overflow from the lines extending past the screen width */
      overflow: hidden;
  }
  #hero-227 .cs-picture {
      /* Background Image */
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
  }
  #hero-227 .cs-picture:before {
      /* Black Color Overlay */
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.6;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
      /* prevents the cursor from interacting with it */
      pointer-events: none;
  }
  #hero-227 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes image act like a background-image */
      object-fit: cover;
  }
  #hero-227 .cs-container {
      width: 100%;
      max-width: 80rem;
      /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
      /* 144px - 300px - leaving extra space for the navigation */
      /* changes on tablet */
      padding: clamp(12rem, 25.95vw, 18.75rem) 0 0;
      /* 60px - 200px */
      margin: auto;
      position: relative;
  }
  #hero-227 .cs-container:before {
      /* Left Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
  }
  #hero-227 .cs-flex-group {
      /* 60px - 220px */
      margin-bottom: clamp(3.75rem, 15.5vw, 13.75rem);
      /* changes on tablet */
      margin-left: 1rem;
      width: 80vw;
      /* 464px - 562px */
      max-width: clamp(29rem, 60vw, 35.125rem);
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      box-sizing: border-box;
  }
  #hero-227 .cs-topper {
      /* 13px - 16px */
      font-size: clamp(0.8125rem, 1.6vw, 1rem);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: 0.1rem;
      font-weight: 700;
      color: var(--bodyTextColorWhite);
      margin-bottom: 1rem;
      display: block;
  }
  #hero-227 .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: left;
      width: 100%;
      /* 32px - 40px */
      margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
      background: var(--gradient);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      position: relative;
  }
  #hero-227 .cs-first-item .cs-number{
      background: var(--gradientorangepink);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      position: relative;
  }
  #hero-227 .cs-second-item .cs-number{
      background: var(--gradientpurpleblue);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      position: relative;
  }
  #hero-227 .cs-third-item .cs-number{
      background: var(--gradientorangegreen);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      position: relative;
  }
  #hero-227 .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.95vw, 1.25rem);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      /* 32px - 40px */
      margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
      /* 40px - 48px */
      margin-bottom: clamp(2.5rem, 4vw, 3rem);
      color: var(--bodyTextColorWhite);
  }
  #hero-227 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      width: 11.25rem;
      text-decoration: none;
      font-weight: 700;
      margin: 0 1.25rem 1rem 0;
      color: #fff;
      padding: 0;
      border-radius: 0.25rem;
      background: var(--gradient);
      display: inline-block;
      position: relative;
      z-index: 1;
  }
  #hero-227 .cs-button-solid:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
  }
  #hero-227 .cs-button-solid:hover:before {
      width: 100%;
  }
  #hero-227 .cs-button-transparent {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      width: 11.25rem;
      /* 46px - 56px */
      height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      margin: 0;
      color: #fff;
      padding: 0;
      border-radius: 0.25rem;
      background-color: transparent;
      border: 1px solid var(--bodyTextColorWhite);
      box-sizing: border-box;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
  }
  #hero-227 .cs-button-transparent:before {
      content: "";
      position: absolute;
      display: block;
      background: #000;
      opacity: 1;
      /* so it sits on top of the border */
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      z-index: -1;
      transform-origin: left;
      /* this is what creates the grow affect on hover */
      transform: scaleX(0);
      transition: transform 0.3s;
  }
  #hero-227 .cs-button-transparent:hover:before {
      transform: scaleX(1);
  }
  #hero-227 .cs-button-transparent .cs-img {
      display: block;
      margin-right: 0.75rem;
  }
  #hero-227 .cs-card-group {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }
  #hero-227 .cs-item {
      height: 100%;
      list-style: none;
      position: relative;
      box-sizing: border-box;
  }
  #hero-227 .cs-item:before {
      /* Top Line */
      content: "";
      width: 100vw;
      height: 1px;
      background: -moz-linear-gradient(
          left,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          left,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
  }
  #hero-227 .cs-item:last-of-type:after {
      /* Bottom line on last card */
      content: "";
      width: 100vw;
      height: 1px;
      background: -moz-linear-gradient(
          left,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          left,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
  }
  #hero-227 .cs-link {
      text-align: left;
      text-decoration: none;
      /* changes on tablet */
      padding: 1.75rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
  }
  #hero-227 .cs-link:hover:before {
      opacity: 0.4;
  }
  #hero-227 .cs-link:before {
      /* Hover Box */
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: -1;
      transition: opacity 0.3s;
  }
  #hero-227 .cs-number {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 900;
      /* 24px - 32px */
      margin-bottom: clamp(1.5rem, 4vw, 2rem);
      background: var(--gradient);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: block;
  }
  #hero-227 .cs-h2 {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      font-weight: 900;
      line-height: 1.2em;
      padding: 0;
      margin: 0;
      margin-bottom: 1rem;
      color: var(--bodyTextColorWhite);
      position: relative;
      z-index: 10000;
  }
  #hero-227 .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 3vw, 1rem);
      margin: 0;
      padding: 0;
      max-width: 31.25rem;
      color: var(--bodyTextColorWhite);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-227 {
      /* 32px - 40px */
      padding: 0 clamp(2rem, 5vw, 2.5rem);
  }
  #hero-227 .cs-container:after {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0) 0%,
          rgba(250, 251, 252, 0.5) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0) 0%,
          rgba(250, 251, 252, 0.5) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
  }
  #hero-227 .cs-flex-group {
      /* 44px - 88px */
      margin-left: clamp(2.75rem, 5.9vw, 5.5rem);
  }
  #hero-227 .cs-button-solid {
      margin-bottom: 0;
  }
  #hero-227 .cs-card-group {
      flex-direction: row;
      position: relative;
  }
  #hero-227 .cs-card-group:before {
      /* Top Line */
      content: "";
      /* make it extend past the left and right of the screen */
      width: 150vw;
      height: 1px;
      background: -moz-linear-gradient(
          left,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          left,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      /* these two properties center the line horizontally */
      left: 50%;
      transform: translateX(-50%);
  }
  #hero-227 .cs-item:before {
      width: 1px;
      height: 100vh;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0) 0%,
          rgba(250, 251, 252, 0.5) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0) 0%,
          rgba(250, 251, 252, 0.5) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      top: auto;
      left: auto;
      right: 0;
      bottom: -4rem;
  }
  #hero-227 .cs-item:nth-of-type(1):before {
      height: 39.375rem;
  }
  #hero-227 .cs-item:last-of-type:before,
  #hero-227 .cs-item:last-of-type:after {
      display: none;
  }
  #hero-227 .cs-link {
      /* 44px - 64px top & bottom, 48px - 88px left & right */
      padding: clamp(2.75rem, 5.9vw, 5.5rem) clamp(3rem, 5.9vw, 5.5rem);
  }
}
/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-227 {
      background: url("https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* creates parallax effect on background image */
      background-attachment: fixed;
      /* remove img tag so we can make parallax work */
  }
  #hero-227 .cs-picture img {
      display: none;
  }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbs-249,
  #RTsbsr-249,
  #RTsbst-249 {
      padding: 0 1em;
      position: relative;
      z-index: 1;
  }
  #RTsbs-249 .cs-container,
  #RTsbsr-249 .cs-container,
  #RTsbst-249 .cs-container {
      width: 100%;
      /* changes to 1280px on tablet */
      max-width: 34.375rem;
      padding: var(--sectionPadding);
      padding-left: 0;
      padding-right: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 108px */
      gap: clamp(3rem, 8vw, 6.75rem);
      position: relative;
  }
  #RTsbs-249 .cs-content,
  #RTsbsr-249 .cs-content,
  #RTsbst-249 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      /* changes at tablet */
      max-width: 27.125rem;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
  }

  #RTsbs-249 .cs-title,
  #RTsbsr-249 .cs-title,
  #RTsbst-249 .cs-title {
      max-width: 20ch;
  }
  #RTsbs-249 .cs-text,
  #RTsbsr-249 .cs-text,
  #RTsbst-249 .cs-text {
      margin-bottom: 1rem;
      opacity: 0.8;
  }
  #RTsbs-249 .cs-text:last-of-type,
  #RTsbsr-249 .cs-text:last-of-type,
  #RTsbst-249 .cs-text:last-of-type {
      margin-bottom: 2rem;
  }
  #RTsbs-249 .cs-button-solid,
  #RTsbsr-249 .cs-button-solid,
  #RTsbst-249 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
  }
  #RTsbs-249 .cs-button-solid:before,
  #RTsbsr-249 .cs-button-solid:before,
  #RTsbst-249 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
  }
  #RTsbs-249 .cs-button-solid:hover:before,
  #RTsbsr-249 .cs-button-solid:hover:before,
  #RTsbst-249 .cs-button-solid:hover:before {
      width: 100%;
  }
  #RTsbs-249 .cs-picture,
  #RTsbsr-249 .cs-picture,
  #RTsbst-249 .cs-picture {
      width: 100%;
      max-width: 27.125rem;
      margin: 0;
      position: relative;
      display: block;
      /* width divided by height */
      aspect-ratio: 1;
      /* prevents border from adding to height and width */
      box-sizing: border-box;
  }
  #RTsbs-249 .cs-picture img,
  #RTsbsr-249 .cs-picture img,
  #RTsbst-249 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbs-249 .cs-container,
  #RTsbsr-249 .cs-container,
  #RTsbst-249 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  #RTsbs-249 .cs-lines,
  #RTsbsr-249 .cs-lines,
  #RTsbst-249 .cs-lines {
      height: 100%;
      width: 35%;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
  }
  #RTsbs-249 .cs-lines:before,
  #RTsbsr-249 .cs-lines:before,
  #RTsbst-249 .cs-lines:before {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      /* flips vertically */
      transform: scaleY(-1);
  }
  #RTsbs-249 .cs-lines:after,
  #RTsbsr-249 .cs-lines:after,
  #RTsbst-249 .cs-lines:after {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      /* flips vertically */
      transform: scaleY(-1);
  }
  #RTsbs-249 .cs-picture,
  #RTsbsr-249 .cs-picture,
  #RTsbst-249 .cs-picture {
      /* 344px - 434px */
      width: clamp(21.5rem, 37.5vw, 27.125rem);
      flex: none;
  }
  #RTsbs-249 .cs-content,
  #RTsbsr-249 .cs-content,
  #RTsbst-249 .cs-content {
      max-width: 33.875rem;
      margin: 0;
      width: 45%;
  }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #RTsbsr-249 {
      padding: 0 1rem;
  }
  #RTsbsr-249 .cs-container {
      /* 60px - 100px top and bottom */
      padding: clamp(3.75rem, 7.82vw, 6.25rem) 0;
  }
  #RTsbsr-249 .cs-container:before {
      /* Left Line */
      content: "";
      width: 1px;
      height: 100%;
      background: linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
  }
  #RTsbsr-249 .cs-container:after {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      /* flips vertically */
      transform: scaleY(-1);
  }
  #RTsbsr-249 .cs-lines {
      display: none;
  }
  #RTsbsr-249 .cs-background {
      /* Background Image */
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
  }
  #RTsbsr-249 .cs-background:before {
      /* Black Color Overlay */
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.6;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
      /* prevents the cursor from interacting with it */
      pointer-events: none;
  }
  #RTsbsr-249 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes image act like a background-image */
      object-fit: cover;
  }
  #RTsbsr-249 .cs-topper {
      color: var(--primaryLight);
  }
  #RTsbsr-249 .cs-title {
      color: var(--bodyTextColorWhite);
  }
  #RTsbsr-249 .cs-text {
      color: var(--bodyTextColorWhite);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #RTsbsr-249 .cs-lines {
      height: 100%;
      width: 35%;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
  }
  #RTsbsr-249 .cs-lines:before {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      /* flips vertically */
      transform: scaleY(-1);
  }
  #RTsbsr-249 .cs-lines:after {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      /* flips vertically */
      transform: scaleY(-1);
  }
  #RTsbsr-249 .cs-picture {
      margin: 0;
      order: 2;
  }
}
/* Desktop - 1500px (Parallax Effect) */
@media only screen and (min-width: 93.75em) {
  #RTsbsr-249 {
      background: url("https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* creates the parallax effect */
      background-attachment: fixed;
  }
  #RTsbsr-249 .cs-background img {
      display: none;
  }
}

/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%)
    }
  }
  #services-294 {
      text-align: center;
      padding: var(--sectionPadding);
  }
  #services-294 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(2rem, 4vw, 3rem);
  }
  #services-294 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }
  #services-294 .cs-logo-carousel {
    width: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }
  #services-294 .cs-logo-carousel::before,
  #services-294 .cs-logo-carousel::after{
    position: absolute;
    top: 0;
    width: 75px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  #services-294 .cs-logo-carousel::before {
    left: 0px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #f7f7f7);
  }
  #services-294 .cs-logo-carousel::after {
    right: 0px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f7f7f7);
  }
  #services-294 .cs-logo-carousel:hover .cs-logo-slide {
    animation-play-state: paused;
  }
  #services-294 .cs-logo-slide {
    display: inline-flex;
    align-items: center;
    animation: 30s slide infinite linear;
  }
  #services-294 .cs-logo {
    width: 100px;
    margin: 0 20px;
  }
  #services-294 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
  }
  #services-294 .cs-item {
      list-style: none;
      text-align: left;
      width: 100%;
      padding: 2rem;
      background-color: #f7f7f7;
      border-radius: 1rem;
      /* clips image corners */
      overflow: hidden;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      position: relative;
      z-index: 1;
      transition: background-color 0.3s;
  }
  #services-294 .cs-item:hover {
      cursor: pointer;
  }
  #services-294 .cs-item:hover .cs-image {
      opacity: 1;
  }
  #services-294 .cs-item:hover .cs-image img {
      transform: scale(1.1);
  }
  #services-294 .cs-item:hover .cs-icon path {
      fill: #fff;
  }
  #services-294 .cs-item:hover .cs-h3,
  #services-294 .cs-item:hover .cs-item-text {
      color: #fff;
  }
  #services-294 .cs-image {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;
      background-color: var(--secondary);
      transition: opacity 0.3s;
  }
  #services-294 .cs-image img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.4;
      object-fit: cover;
      transition: transform 0.6s;
  }
  #services-294 .cs-item-link {
      text-decoration: none;
  }
  #services-294 .cs-icon {
      width: auto;
      height: 3rem;
      margin-bottom: 1.5rem;
      display: block;
  }
  #services-294 .cs-icon path {
      transition: fill 0.3s;
  }
  #services-294 .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      line-height: 1.2em;
      margin: 0;
      margin-bottom: 1rem;
      color: var(--headerColor);
      transition: color 0.3s;
      font-weight: bold;
  }
  #services-294 .cs-item-text {
      font-size: 1rem;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition: color 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-294 .cs-container {
      max-width: 80rem;
  }
  #services-294 .cs-title {
      width: 70vw;
  }
  #services-294 .cs-card-group {
      display: flex;
      justify-content: center;
      /* makes sure every box "stretches" to be the same height as the tallest box */
      align-items: stretch;
      flex-direction: row;
      flex-wrap: wrap;
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #services-294 .cs-item {
      width: 31.85%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-294 .cs-logo {
    width: 150px;
    margin: 0 30px;
  }
  #services-294 .cs-logo-carousel::before,
  #services-294 .cs-logo-carousel::after{
    width: 250px;
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-51 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #cta-51 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-51 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #cta-51 .cs-topper {
    color: var(--secondary);
  }
  #cta-51 .cs-title,
  #cta-51 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #cta-51 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
    opacity: .8;
  }
  #cta-51 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #cta-51 .cs-picture {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-51 .cs-picture:before {
    /* black color overlay */
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .8;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-51 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
